<div class="logo">
<%= link_to image_tag( "#{@root_url.to_s}/assets/wynpic_logo.png"), pictures_path %>
</div>
<hr>

<%= render 'form' %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
