<div class="logo">
<%= link_to image_tag( "#{@root_url.to_s}/assets/wynpic_logo.png"), pictures_path %>
</div>
<hr>
<div id="grid" data-columns>
<div id="posts">
	<% @pictures.each do |picture| %>
        <div class="column size-1of4"><%= link_to (image_tag picture.picture_show(:thumb), 
        style:"max-width: 80%;max-height: 80%;", class:"post"), picture %></div>
    <% end %>
</div>
</div>

<br>








